body {
    font-family: Arial, sans-serif;
    /*background-color: #f8f8f8;*/
    background-color: darkslategray;
    color: #333;
}

.toggleContainer{text-align: right;}
#toggleSound{cursor: pointer;}

.strikeOff{text-decoration: line-through; opacity:0.5;}

.container {
    width: 30%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 70%;
    }    
}

h1 {
    
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

#question {
    margin-top: 20px;
    font-weight: bold;
}

#score,#options {
    margin-top: 20px;
}

.option {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.option.correct{
    background-color:lightgreen;
}

.option.incorrect{
    background-color:pink;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}

