body{
  background-color:black;
  color:white;
  text-align:center;
  font-family:papyrus;}

#subject{
  font-size:3em;
}

#choices{
  font-size:1.2em;
}

#verb,#history{
  font-size:1.2em;
}



#choices span{
  padding:10px;
  margin:10px;
  border-radius: 5px;
  background-color: lightgrey;
  display:inline-block;
  
  cursor:default;
  text-align:left;
}

#choices span .answerEnd{
  padding:0px;
  margin:0px;
  font-weight:bold;
  text-decoration: underline;
  background-color:transparent;
}

#choices span:hover{
  background-color: lightyellow;
}

.ending{
  font-weight:bold;
}



#choices{
  color:black;
}

.left{
  text-align:right;
  margin-right:10px;
}
.right{
  text-align:left;
  margin-left:10px;
}

.correct,.incorrect{
  width:40%;
  display:inline-block;
}

.correct{
  color:green;
}
.incorrect{
color:red;
}


